.root {
  padding: 0 1rem;
}

.labelsRoot {
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 1.10rem;    
}

.selectRoot {    
  display: flex;
  justify-content: space-between;
}

.select {
  font-size: 1.05rem;
  border: none;
  margin: 1rem 0;
  padding: 2px 4px;  
}

.select[dark="true"] {
  background-color: #603030;
  color: #eeeeee;
}

.reflektorLabel {    
  font-size: 1.10rem;    
}

.reflektorSelect {    
  font-size: 1.05rem;
  border: none;    
  margin: 1rem;
  padding: 2px 12px;  
}

.reflektorSelect[dark="true"] {
  background-color: #603030;
  color: #eeeeee;
}