.App {
  text-align: center;
}

.App-header {
  background-color: #333333;
  height: 88px;
  padding: 2% 0;
  color: #fefefe;
}

.App-input {
  resize: none;
  margin: auto 16px;
  width: 85%;
  border: 4px groove #666666;
  background-color: #fefefe;
}

.App-input-header {
  margin: 8px auto;
}

.App-directions {
  padding: 16px 25%;
}