.App {
  text-align: center;
}

.App-header {
  background-color: #333333;
  height: 88px;
  padding: 8px 0;
  color: #fefefe;
}

.App-content {
  padding: 0 15%;
}

.App-input {
  resize: none;
  border: 4px groove #666666;
  background-color: #fefefe;
  width: 85%;
  font-size: 16px;
}

.App-input-header {
  margin: 16px auto 8px auto;
}

.App-directions {
  padding: 16px 24px;
}