:root{
  --font: Segoe UI, Helvetica, sans-serif;  
}

body {
  background-color: #202020;
  margin: 0;
  padding: 0;
  font-family: var(--font);  
}

div.app-root {    
  width: 95%;
  max-width: 800px;
  background-image: url("assets/enigma.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;    
  opacity: 0.95;
  overflow: hidden;
}

textarea, select {
  opacity: .90;
}