:root{
  --font: Segoe UI, Helvetica, sans-serif;  
}

body {
  background-color: #222222;
  background-image: url("assets/enigma.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: var(--font);
}

main.app-main {  
  max-width: 800px;
}

textarea.message-area {  
  display: inline;
  max-width: 330px;
}